body{
	font-size: 16px;
}
.hidden{display: none;}

.main-headline{
	text-align: center;
	margin: 20px 0 30px;
	font-size: 2.5rem;

}
#raster-vector h3 {margin: 20px; text-align: center;}

#image-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#image-container img {
	width: 30%;
	min-width: 155px;
	max-width: 375px;
	align-self: center;
}

/*  inline SVG css styles*/

#badge{
	cursor: pointer;width: 30%;
}
.st0:hover {opacity:1;fill:#FFFFFF;}

#RED_x5F_compound:hover {width: 50%;}