

.hidden {display: none;}

main {
	width: 960px;
	padding: 0 10px 10px 0;
	margin: 0 auto;
	/*border is temp -> just to ee site dimension */
	border: thin dashed #333;
	
}
#main-header {
	display: flex;
	flex-direction: row;
}
#main-nav{
	height: 40px;
	width: 290px;
	background-color: #555434;
	margin-bottom: 20px;
}
#sub-nav{
	height: 40px;
	width: 650px;
	background-color: #23550b;

}
#logo {
	margin-left: auto;
	height: 100px;
	width: 250px;
	background-color: #f0aeae;
}